<a href="#" id="to-sign-in" class="mr-3" aria-hidden="true"><i style="color: #43a1f7;" class="fa fa-sign-in fa-2x m-2"></i>Sign In</a>
<div class="text-center">
<h1>404</h1>
<h3>File could not be found or is private</h3>
<i class="fa fa-frown-o" aria-hidden="true" style="font-size: 10em;"></i>
</div>
